/*

developed by flowd

*/
* {
    font-family: 'Poppins', sans-serif;
    scrollbar-color: #5c5e618a #15171ead;
}
*::-webkit-scrollbar {
    cursor: pointer !important;
    width: 12px;
}

*::-webkit-scrollbar-track {
    cursor: pointer !important;
    background: #15171e86;
}

*::-webkit-scrollbar-thumb {
    cursor: pointer !important;
    background-color: #5c5e618e;
    border-radius: 2rem;
}

*::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
    background-color: #7a7c7e8e;
}

*::-webkit-scrollbar-thumb:active {
    cursor: pointer !important;
    background-color: #5858588e;
}

body {
    background-color: rgb(18, 22, 29);
}

.nick-list-div {
    padding: 8rem;
    text-align: center;
}

.nick-list-div h1 {
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fcf2e0;
}

.nick-list-div textarea{
    width: 450px;
    height: 250px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: none;
    border-radius: 0.45rem;
    color: rgb(177, 143, 216) !important;
    background-color: rgba(24, 28, 36, 0.63);
    resize: none;
}

.nick-list-div textarea:focus {
    border: none !important;
    outline: none !important;
}

.topbar {
    background-color: rgba(40, 47, 60, 0.123);
    height: 2rem;
    margin: auto;
    width: auto;
}

.topbar p {
    user-select: none;
    text-align: center;
    color: rgb(206, 154, 255);
}

.topbar a {
    right: 0;
}

.availables {
    width: 49%;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    background-color: rgba(24, 28, 36, 0.63);
}

.unavailables {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    background-color: rgba(24, 28, 36, 0.63);
}

.availables-title {
    padding-top: 1.5rem;
    text-align: center;
    color: rgb(70, 252, 94);

}

.bg-dark {
    background-color: rgb(127, 85, 175) !important;
}

.unavailables-title {
    padding-top: 1.5rem;
    text-align: center;
    /* margin-top: 1rem; */    
    color: #ff3456;
}


.import-btn{
    background-color:rgb(127, 85, 175) !important;
    color: rgb(230, 208, 255) !important;
    outline: none !important;
    border: none !important;
    /* margin-top: 1rem; */
}
.import-btn:hover {
    background-color:rgb(89, 60, 122) !important; 
}

.import-btn:active, .import-btn:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.start-btn{
    background-color:rgb(127, 85, 175) !important;
    color: rgb(230, 208, 255) !important;
    outline: none !important;
    border: none !important;
    margin-top: 1rem;
}

.start-btn:hover {
    background-color:rgb(89, 60, 122) !important; 
}

.start-btn:active, .start-btn:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.copy-aprovadas, .copy-reprovadas {
    size: 16px;
    background-color:rgb(127, 85, 175) !important;
    color: rgb(230, 208, 255) !important;
    outline: none !important;
    border: none !important;
}

.copy-aprovadas:hover, .copy-reprovadas:hover {
    background-color:rgb(89, 60, 122) !important; 
}

.copy-aprovadas:active, .copy-aprovadas:focus, .copy-reprovadas:active, .copy-reprovadas:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.regions {
    color: rgba(230, 208, 255, 0.863);
    border-radius: 10px;
    border-color: rgba(34, 39, 49, 0.123);
    background-color: rgba(38, 44, 56, 0.123);
    margin-top: 0.5rem;
}

.availables-response {
    /* text-align: center; */
    white-space: pre-line;
    color: rgb(70, 252, 94);
}

.aprovadas {
    margin: 1rem;
    text-align: left;
}

.unavailables-response {
    white-space: pre-line;
    color: rgb(243, 39, 107);
}

.reprovadas {
    margin: 1rem;
    text-align: left;
}
.responses {
    justify-content: center;
    display: flex;
    /* text-align: center; */
}

hr {
    color: rgba(230, 208, 255, 0.863);
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
